In [40]:
import tensorflow as tf
import pickle
import pandas as pd
import numpy as np
from tensorflow.keras.models import load_model

In [41]:
### Load the ANN trained model, scaler pickle, OHE, gender
model = load_model('model.h5')


# Load the encoders and scalers

with open('OHE_geo.pkl', 'rb') as file:
    label_encoder_geo = pickle.load(file)

with open('label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [42]:
input_data = {
    'CreditScore' : 600,
    'Geography': 'Spain',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 10000

}

In [43]:
geo_converted = label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_converted, columns=label_encoder_geo.get_feature_names_out())
geo_encoded_df

/Users/mihirgupta/Desktop/udemy/.venv/lib/python3.9/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                0.0              1.0

In [44]:
input_data_df = pd.DataFrame([input_data])

input_data_df['Gender'] = label_encoder_gender.transform(input_data_df['Gender'])

In [45]:
input_data_df = input_data_df.drop(['Geography'], axis=1)
input_data_df = pd.concat([input_data_df, geo_encoded_df], axis=1)
input_data_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              1.0

[1 rows x 12 columns]

In [46]:
scaled = scaler.transform(input_data_df)
scaled

array([[-0.47154541,  0.90911166,  0.09477172, -0.69844549, -0.29010416,
         0.80510537,  0.63367318,  0.95214374, -1.54422891, -1.02020406,
        -0.57581067,  1.77464858]])

In [47]:
prediction = model.predict(scaled)

if prediction[0][0] < 0.5:
    print("Person is not likely to churn")
else:
    print("Person is likely to churn")
# prediction[0][0]

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step
Person is not likely to churn